@import url("https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap");

:root {
  --main-bg-color: #f9f6ef;
  --main-fg-color: #282828;
  --green: #669b80;
  --light-green: #9fc2b1;
  --red: #e95745;
  --light-red: #ed8f84;

  --font-family: "Patrick Hand", cursive;
}

* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  font-family: var(--font-family);
  background-color: var(--main-bg-color);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 24px;
}

#input {
  display: flex;
  align-items: center;
}

input {
  margin: 0px;
  padding: 12px;
  border: none;
  background-color: var(--main-bg-color);
  font-family: var(--font-family);
  font-size: 14px;
}

#item {
  width: 176px;
  border-left: 1px solid var(--main-fg-color);
  border-top: 1px solid var(--main-fg-color);
  border-bottom: 1px solid var(--main-fg-color);
}

#price {
  width: 96px;
  border-left: 1px solid var(--main-fg-color);
  border-top: 1px solid var(--main-fg-color);
  border-bottom: 1px solid var(--main-fg-color);
}

input:focus {
  outline: none;
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  appearance: textfield;
}

#add {
  width: 48px;
  padding: 12px;
  border: 1px solid var(--main-fg-color);
  background-color: var(--light-green);
  font-family: var(--font-family);
  font-weight: bold;
  font-size: 14px;
  color: var(--main-bg-color);
  cursor: pointer;
  transition: 0.2s;
}

#add:hover {
  border-color: var(--green);
}

#add:focus {
  outline: none;
  border-color: var(--green);
  background-color: var(--green);
}

#add:active {
  background-color: var(--green);
}

#card-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: min(320px, 100%);
  margin: 24px 0 24px 0;
}

.card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  padding: 12px;
  border: 1px solid var(--main-fg-color);
  background-color: var(--main-bg-color);
}

.itemName,
.itemPrice {
  margin: 0;
}

.itemName {
  font-size: 18px;
  font-weight: bold;
}

.itemPrice {
  font-size: 14px;
  color: var(--green);
}

#delete-item {
  padding: 12px;
  border: 1px solid var(--main-fg-color);
  background-color: var(--light-red);
  font-family: var(--font-family);
  font-weight: bold;
  font-size: 14px;
  color: var(--main-bg-color);
  cursor: pointer;
  transition: 0.2s;
}

#delete-item:hover {
  border-color: var(--red);
}

#delete-item:active {
  box-shadow: none;
  background-color: var(--red);
}

#delete-item:focus {
  outline: none;
  border-color: var(--red);
  background-color: var(--red);
}

#placeholder {
  margin: 0;
  padding: 24px;
  border: 1px dashed var(--main-fg-color);
  text-align: center;
  color: var(--main-fg-color);
  opacity: 70%;
}

#total {
  padding: 12px;
  background-color: var(--light-green);
  font-weight: bold;
  font-size: 14px;
  color: var(--main-bg-color);
}
